.floatingContainer {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
    transition: height 0.3s;
}

.floatingContainer:hover {
    height: 420px; /* Increased height to accommodate the new button */
}

.floatingButton {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #97BDFA;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.3s;
}

.elementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floatElementWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -5px;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.showElements .wrapper0 {
    opacity: 1;
    transform: translateY(-60px);
    transition-delay: 0.1s;
}

.showElements .wrapper1 {
    opacity: 1;
    transform: translateY(-45px);
    transition-delay: 0.2s;
}

.showElements .wrapper2 {
    opacity: 1;
    transform: translateY(-30px);
    transition-delay: 0.3s;
}

.showElements .wrapper3 {
    opacity: 1;
    transform: translateY(-15px);
    transition-delay: 0.4s;
}

.floatElement {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.element0 {
    background: #97BDFA;
}

.element1 {
    background: #F8D17F;
}

.element2 {
    background: #F2A459;
}

.element3 {
    background: #AECE7B;
}

.floatElementText {
    font-size: 13px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

